
body {
  background-image: url("../image/fundo.jpg");
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
  color: whitesmoke;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.menu {
  position: fixed;
  background-color: rgb(12, 12, 12, 20);
  top: 0;
  z-index: 2;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

.menu li {
  list-style: none;
  margin-left: 10px;
}

.menu a {
  border-width: 0;
  display: block;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}

.menu a:active,
.menu a:hover {
  border-width: 50px;
  border-bottom: 1px solid white;
  transform: scaleX(2em);
}

.site-title, .site-subtitle {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.site-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.site-title {
  opacity: 0;

  animation: 2s linear 1s animacaotitulo forwards;
}

@keyframes animacaotitulo{
  from {
    opacity: 0;
    transform: translatex(-20px);
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }

}

.site-subtitle {
  font-style: italic;
  opacity: 0;
  animation: 2s linear 1s animacaosubtitulo forwards;
}

@keyframes animacaosubtitulo{
  from {
    opacity: 0;
    transform: translatex(20px);
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }

}

.sobre,
.servicos,
.contato {
  background-color: #171717;
  min-height: 60vh;
  text-align: center;
}

.sobre h2,
.servicos h3,
.contato h2,
.portifolio h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  padding: 50px 0px;
  text-transform: uppercase;
  margin: 0px auto;
  width: 200px;
}

.sobre p {
  width: 1000px;
  text-align: justify;
  margin-bottom: 2em;
  text-indent: 2em;
}

.image-sobre {
  clip-path: circle(50% at 50% 50%);
  float: left;
  filter: contrast(98%);
  margin: 0 1em 1em 1em;
  opacity: 10%;
}

.portifolio {
  background-color: #131313;
  padding: 4em;
}

.portifolio .grid-galeria {
  width: 100%;

  min-height: calc(100vh - 8em - 48px);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30vh 30vh 30vh;
  grid-template-areas: "a 2 3"
                       "a 5 c"
                       "b b c";
  gap: 5px;

  justify-content: center;
}

.grid-galeria .box {
  transition: 1s;
}

.grid-galeria .box:hover {
  filter: brightness(80%);
}

.grid-galeria .box:hover figcaption {
  position: absolute;
  left: 10px;
  bottom: 15px;
  opacity: 100%;
  transition: 1.8s;
  transform: translateY(0);
}

figcaption {
  backface-visibility: hidden;
  opacity: 0%;
  transform: translateY(10px);
}


.grid-galeria .a {
  background-color: brown;
  grid-area: a;
}

.image {
  width: 100%;
  height: 100%;

  filter: saturate(40%);

  object-fit: cover;
  object-position: center;
}

.grid-galeria .e {
  background-color: chocolate;
  grid-area: c;
}

.grid-galeria .h {
  background-color: cadetblue;
  grid-area: b;
}

.h .image {
  object-position: bottom;
}

.contato .grid-contato {
  display: grid;
  grid-template-columns: repeat(3, 2.5em);
}

.contato a {
  color: white;
  font-size: 2.5em;
  text-decoration: none;
}

footer {
  background-color: #151515;
  height: 10vh;
}

@media (min-width:750px) {
  
  .menu ul {
    justify-content: flex-end;
  }

  .site-title {
    font-size: 3em;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}
